@charset "UTF-8";

/* GLOBAL
----------------------*/

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

a {
    color: #e38cb7;
}

a:hover,
a:focus {
    color: #d6619c;
}

h1 {
    font-size: 44px;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    color: #633991;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    color: #633991;
    font-size: 33px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #633991;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: #633991;
    margin-bottom: 0.7rem;
}

p {
    color: #959094;
}

p.lead {
    color: #e38cb7;
    margin-bottom: 2rem;
}

.text-primary {
    color: #e38cb7 !important;
}

.light-font {
    font-weight: 300;
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    color: #d6619c;
}

.btn-primary {
    border-radius: 3px;
    background-image: -moz-linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    background-image: -webkit-linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    background-image: -ms-linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    background-image: linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-image: linear-gradient( 122deg, #fd378e 0%, #e54595 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #633991;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.light-bg {
    background-color: #faf6fb;
}

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}


/* NAVBAR
----------------------*/

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
   background-color: rgb(138, 203, 155);
    background: -moz-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: -webkit-linear-gradient(135deg, rgb(139, 204, 152) 0%, rgb(49, 164, 233) 100%);
    background: linear-gradient(135deg, rgb(139, 204, 153) 0%, rgb(50, 164, 233) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    /*.navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #cd99d4;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }*/
}
@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}
header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

.bg-gradient {
    background: url('../image/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
    position: relative;
    z-index: 12;
}
.img-gallery.owl-carousel.owl-theme.owl-loaded.owl-drag {
    position: absolute;
    top: 0;
}
/*.bg-gradient1 {
    background: url('../image/banner01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
}
.bg-gradient2 {
    background: url('../image/banner02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
}
.bg-gradient3 {
    background: url('../image/banner03.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
}
.bg-gradient4 {
    background: url('../image/banner04.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
}
.bg-gradient5 {
    background: url('../image/banner05.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
}*/
.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}


/* FEATURES
----------------------*/

.gradient-fill:before {
    color: #fc73b4;
    background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    transition: all 0.3s ease;
    -moz-box-shadow: 0px 5px 30px 0px #291acc2b;
    -webkit-box-shadow: 0px 5px 30px 0px #291acc2b;
    box-shadow: 0px 5px 30px 0px #291acc2b;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}
.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px #291acc2b;
    -webkit-box-shadow: 0px 5px 30px 0px #291acc2b;
    box-shadow: 0px 5px 30px 0px #291acc2b;
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #f5378e;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -webkit-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -ms-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }

}


/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

/*.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: #b5a4c8;
    background: #f5eff7;
}*/

.sec2 .nav-tabs .nav-link.active {
    background: #FFF;
    color: #2FA5E7;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    border: 0;

}


/*  TESTIMONIALS
----------------------*/

.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
    text-align: center;
    margin: 0 auto;
}
.blockquote {
    color: #7a767a;
    font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #e7d9eb;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff487e;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff487e;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}


/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
    transition: all 10s fade-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}


/*  PRICING
----------------------*/

.card.pricing {
    background: transparent;
    margin-top: 80px;
    border: 0;
}
.card.pricing.popular {
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
    color: #633991;
}

.card.pricing .card-head {
    text-align: center;
   /* padding: 40px 0 20px;*/
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 300;
    color: #633991;
}

.card.pricing .card-head .price sub {
    bottom: 0;
    font-size: 55%;
}

.card.pricing .list-group-item {
    border: 0;
    text-align: center;
    color: #959094;
    padding: 1.05rem 1.25rem;
}

.card.pricing .list-group-item del {
    color: #d9d3d8;
}

.card.pricing .card-body {
    padding: 1.75rem;
}


/*  CALL TO ACTION
----------------------*/

.call-to-action {
    text-align: center;
    color: #FFF;
    margin: 3rem 0;
}

.call-to-action .box-icon {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transform: scale(0.85);
    margin-bottom: 2.5rem;
}

.call-to-action h2 {
    color: #FFF;
}

.call-to-action .tagline {
    font-size: 16px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 650px;
    margin: 0 auto;
}

.btn-light img {
    margin-right: 0.4rem;
    vertical-align: text-bottom;
}


/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color: #e38cb7;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 16px;
    padding-top: 0;
    color: #fff;
    padding-bottom: 0;
}
.asd {
    padding-top: 5px !important;
}
@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}
.banner-sec
{
    text-align: left;
}
.banner-sec h1
{
    font-size: 44px;
    font-weight: 400;
        margin-bottom: 0;
}
.banner-sec p
{
    font-size: 22px;
    color: #fff;
}

.navbar {
  
     padding: 0; 
}
.hdr-btn {
    background: #fff;
    color: #1757cb;
    font-size: 18px;
    font-weight: 500;
    width: 21%;
    height: 64px;
    margin: 15px 0;
    cursor: pointer;
    padding: 20px;
    text-transform: capitalize;
}
a.btn.btn-default {
    font-size: 18px;
    color: #1757cb;
    display: inline-block;
    line-height: 60px;
    padding-left: 20px !important;
    padding: 0;
}
span.pwr-btn {
    float: right;
}
span.pwr {
    float: left;
}
.sec-customer
{
    background: url(../image/sec2-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height:100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.counter-txt
{
    text-align: center;
    color: #1757CB; 
}
.counter-txt h1 {
    font-weight: 500;
    margin-bottom: 0;
}
.counter-txt p {
    font-weight: 300;
    font-size: 30px;
    color: #1757CB; 
    margin-bottom: 0;
}
.counter-title
{
    margin-bottom: 50px;
}
.icon-top img {
    width: 80px;
}
h4.card-title {
    font-size: 20px;
    font-weight: 500;
    color: #4a4a4a;
}
.card-text
{
    font-size: 16px;
}
.card-body {
    padding: 40px;
}
.icon-top {
    margin-bottom: 30px;
}
a.btn.card-btn {
    text-align: left;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: unset;
    color: #0ca94f;
    border: 1px solid #0ca94f;
}
.card-txt1
{
    height: 135px;
}
.card-sun
{
    background: #31A5E8;
   
}
.card-sun h4
{
     color: #fff;
}
.card-sun p
{
     color: #fff;
}
.card-sun-btn
{
    background: #fff;
    color: #1757cb !important;
    border-color: transparent !important;
}
.card-head p {
    font-size: 20px;
    color: #222;
    margin-top: 15px;
    margin-bottom: 0;
}
.energyx-sec3
{
    background: url(../image/Green-sec.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height:100%;
}
.energyx-frm input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}
.energyx-frm textarea
{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}
.fieldgroup {
    margin-bottom: 25px;
}
.energyx-frm label {
    color: #fff;
    margin-bottom: 0;
}
.energyx-sec3 h3 {
    color: #fff;
    margin-bottom: 20px;
}
.energyx-sec3 p {
    color: #fff;
    margin-bottom: 0;
}
.energyx-bottom
{
    background: url(../image/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height:100%;
    background-position: right;
}
.section.energyx-bottom p {
    color: #fff;
    font-weight: 300;
}
.social a
{
    color: #fff;
    margin-right: 8px;
    font-size: 20px;
}
.social a:hover {
    color: #1757CB;
}
.arrow-top span {
   width: 150px;
    height: 3px;
    background: linear-gradient(135deg, rgb(81, 14, 143) 0%, rgb(249, 42, 143) 100%) !important;
    display: block;
    vertical-align: middle;
    position: relative;
}
.arrow1 span
{
   background: linear-gradient(135deg, #9EDB48 0%, #429321 100%) !important; 
}
.arrow2 span
{
   background: linear-gradient(135deg, #C86DD7 0%, #3023AE 100%) !important; 
}
.arrow3 span
{
   background: linear-gradient(135deg, #FBD149 0%, #F5A624 100%) !important; 
}
.arrow4 span
{
   background: linear-gradient(135deg, #FB499B 0%, #F52464 100%) !important; 
}
.arrow5 span
{
   background: linear-gradient(135deg, #76D187 0%, #449522 100%) !important; 
}
.card.pricing.ftr-lnk {
    margin-top: 0;
    flex: inherit;
}
.card.pricing.ftr-lnk p
{
    text-align: left;
    font-size: 15px;
    margin: 10px 0;
}
p.ftr-hm {
    margin: 20px 0 !important;
    font-size: 15px;
    font-weight: bold !important;
}
footer
{
    background: #14152D;
}
.social {
    margin-top: 50px;
}
div#navbar {
    margin-left: 50px;
}   
a.btn:hover {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
}
.hdr-btn:hover {
    color: #1757cb;
}
input[type='range'], 
input[type='range']:focus, 
input[type='range']:active, 
input[type='range']::-moz-focus-inner, 
input[type='range']:-moz-focusring {
    border: 0;
    outline: none;
}
.location-btn{
    color: #1abc9c;
    font-size: 0.8em;
}
a.location-btn:hover, a.location-btn:focus {
    color: #1abc9c;
}
.energyx-sgn-up{
    background: url('../image/bg-signup1.png');
    background-size: cover;
    background-position: right top;
    margin-top: 100px;
}
.nav-sgnup{
    background-color: rgb(138, 203, 155);
    background: -moz-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: -webkit-linear-gradient(135deg, rgb(139, 204, 152) 0%, rgb(49, 164, 233) 100%);
    background: linear-gradient(135deg, rgb(139, 204, 153) 0%, rgb(50, 164, 233) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}
.section.energyx-sgn-up label {
    display: block;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
}
.energyx-sgn-up input {
    display: block;
    width: 60%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #2FA5E7;
    padding-left: 10px;
}
.sec2 input {
    display: block;
    width: 60%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #2FA5E7;
    padding-left: 10px;
}
h4.sgn-up-title {
    border-bottom: 2px solid #1ABC9C;
    padding-bottom: 10px;
    color: #1f243e;
    margin-bottom: 30px;
}
.energyx-sgn-up li.nav-item {
    width: 25%;
    text-align: center;
}
.sgn-up-banner img{
    width: 100%;
}
.energyx-sgn-up .tab-content {
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
    background-color: transparent; 
    box-shadow: none; 
    padding: 3rem 0;
}
.energyx-sgn-up ul.nav.nav-tabs {
    padding: 1rem 0;
}
.energyx-sgn-up .nav-tabs .nav-link.active {
    background: #2FA5E7 !important;
    color: #fff !important;
    border-radius: 0 !important;
    border-color: transparent !important;
}
.energyx-sgn-up .nav-tabs .nav-item .nav-link, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #2FA5E7;
    color: #2FA5E7;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    border-top-width: 1px;
    border-radius: 5px !important;
}
a.btn.card-btn.card-sun-btn.sgn-up-btn{
    background: #1ABC9C;
    color: #fff !important;
    border-color: transparent !important;
    padding: 10px 40px !important;
    margin-top: 5px;
}
.btn.prdct-btn1 {
    padding: 15px;
    color: #555;
    background: #fff;
    border: 1px solid #2FA5E7;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 0;
}
    /*button.btn.prdct-btn1:focus, button.btn.prdct-btn1:hover
    {
    color: #fff;
    background: #2FA5E7;
        box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }*/
.prodct-sec h4 {
    color: #222222;
    margin-bottom: 20px;
    }
    .prodct-sec p {
        color: #222222;
}
    .prodct-sec {
    margin: 50px 0;
}
.prodct-sec input {
     width: 24% !important;
    display: inline-block !important;
    margin-right: 30px;
}

.prodct-sec select {
     width: 35% !important;
    display: inline-block !important;
    border-radius: 4px;
        border: 1px solid #2FA5E7;
        height: 45px !important;
}
.flue-prgrss {
    width: 45%;
    display: inline-block;
}
.flue-prgrss2{
    float: right;
}
.flue-prgrss .slidecontainer {
    width: 100%;
}

.flue-prgrss .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.flue-prgrss .slider1 {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.flue-prgrss .slider:hover {
    opacity: 1;
}

.flue-prgrss .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border: 0;
    background: url('../image/rangbar-1.png');
     background-size: contain;
     background-repeat: no-repeat;
    cursor: pointer;
}
.flue-prgrss2 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border: 0;
    background: url('../image/rangbar-2.png');
     background-size: contain;
     background-repeat: no-repeat;
    cursor: pointer;
}
.flue-prgrss .slidecontainer input {
    width: 100% !important;
    height: 7px !important;
    background: #fff !important;
    border: none !important;
    box-shadow: 0 1px 2px 1px #3333 !important;
    padding-left: 0px !important;
}
.flue-prgrss .slider::-moz-range-thumb {
     -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border: 0;
    background: url('../image/rangbar-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.flue-prgrss2 .slider::-moz-range-thumb {
     -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border: 0;
    background: url('../image/rangbar-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
     -webkit-appearance: none;
    appearance: none;
  background-color: #E67F22;
  height: 7px;
}
input[type=range]::-moz-range-progress {
  background-color: #E67F22;
  height: 7px;
}
.rmv-btn i{
color: #ef0505;
    font-size: 24px;
}
button.rmv-btn {
    margin-left: 15px;
}
button.rmv-btn {
    background: transparent;
    border: 0;
}
.subchck input[type="checkbox"] {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #2FA5E7;
    padding-left: 0px; 
    width: 8% !important;
    height: 20px;
    vertical-align: middle;
}

.subchck {
    display: inline-block;
    width:50%;
    margin-left:20px;
}
label.t1-label.remember {
    margin-bottom: 0 !important;
}
a.forgot{
    color: #2fa5e7;
}
a.forgot:hover a:focus{
    color: #2fa5e7;
}
.btn-group.btn-group-justified {
    padding: 30px 0;
}
a.btn.btn-primary.sgn-up-btn.sgn-up-btn1 {
    padding: 1rem 7rem;
    border:1px solid;
    border-color: #2FA5E7;
    color: #2FA5E7;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    border-top-width: 1px;
    box-shadow: none !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-right: 0px !important;
}
a.btn.btn-primary.sgn-up-btn.sgn-up-btn2 {
    background: #2FA5E7 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border-color: transparent !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-left: 0px !important;
    padding: 1rem 7rem;
    border-color: #2FA5E7;
    color: #2FA5E7;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    border-top-width: 1px;
    box-shadow: none !important;
}
a.btn.btn-primary.sgn-up-btn.sgn-up-btnb {
    padding: 1rem 7rem;
    border:1px solid;
    border-color: #2FA5E7;
    color: #2FA5E7;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    border-top-width: 1px;
    box-shadow: none !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-left: 0px !important;
}
a.btn.btn-primary.sgn-up-btn.sgn-up-btna {
    background: #2FA5E7 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border-left-color: transparent !important;
    padding: 1rem 7rem;
    border-color: #2FA5E7;
    color: #2FA5E7;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    border-top-width: 1px;
    box-shadow: none !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
div#company-info input {
    display: block;
    width: 90%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #2FA5E7;
    padding-left: 10px;
}
div#company-info label {
        display: block;
    }
div#contacts-profile input {
    width: 40%;
}
    .section.energyx-sgn-up label {
        display: block;
    }
    
    h4.sgn-up-title {
        border-bottom: 2px solid #1ABC9C;
        padding-bottom: 10px;
        color: #1f243e;
        margin-bottom: 30px;
        }
    a.btn.card-btn.card-sun-btn.sgn-up-btn{
        background: #1ABC9C;
    color: #fff !important;
    border-color: transparent !important;
    padding: 10px 40px !important;
    margin-top: 10px;
    }
    .btn.prdct-btn1 {
    padding: 15px;
    color: #555;
    background: #fff;
    border: 1px solid #2FA5E7;
    margin-right: 15px;
    font-size: 12px;
    border-radius: 0;
    }
    /*button.btn.prdct-btn1:focus, button.btn.prdct-btn1:hover
    {
         color: #fff;
        background: #2FA5E7;
        box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }*/
    /*button.btn.prdct-btn1:focus, button.btn.prdct-btn1:active {
    color: #fff;
    background: #2FA5E7;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
button.btn.prdct-btn1:focus, button.btn.prdct-btn1:focus {
    color: #fff;
    background: #2FA5E7;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}*/
.flue-prgrss2{
    float: right;
}
select#contacts-city {
    width: 90%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #2FA5E7;
    padding-left: 10px;
}
.frm-contact2 input {
     float: right;
    width: 90%;
}
.frm-contact2 select {
     float: right;
    width: 90%;
}
.frm-contact2 label {
     float: right;
    width: 90%;
}
.contacts-pro1 {
    width: 75%;
}

input#contacts-address {
    width: 100%;
}
span.attach-fle {
    float: right;
    position: relative;
    right: 13%;
    top: -35px;
}

span.attach-fle i.fa.fa-paperclip {
    font-size: 24px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(90deg);
}
.file-upload {
    position: relative;
}
.file-upload .file-upload-placeholder {
   position: absolute;
    color: #302d2d;
    font-size: 20px;
    width: 90%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #2FA5E7;
}
.deal-details input,
input::-webkit-input-placeholder {
    font-size: .8em !important;
}
.sec2 select{
    font-size: .8em !important;
}
input#selection input::-webkit-input-placeholder{
        font-size: 1em !important;
}
.file-upload input[type=file] {
    opacity: 0;
    cursor: pointer;
    margin-bottom: 0;
    height: 45px;
}
.file-upload .file-upload-placeholder:after {
    position: absolute;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    right: 15px;
    width: 21px;
    height: 23px;
    content: url(../image/clip.png);
}
.file-upload .uploaded-files {
   min-height: 150px;
    background: url(../image/dot.PNG) repeat-y;
    background-size: 57%;
    list-style: none;
}
input#contacts-address {
    width: 100% !important;
}
.energyx-deal{
    background: url(../image/bg-deals.png);
    background-size: cover;
    background-position: right top;
    margin-top: 105px;
    background-repeat: no-repeat;
    padding: 3rem 0 !important;
}
.energyx-deals {
    padding: 3rem 0;
}
.fieldgroup.mb-1.moreoption {
    margin-top: 30px;
}
.sec2{
    position: relative;
    top: 105px;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 0 5px 1px #3338;
}
.sec2 h2 {
    font-size: 1em !important;
    color: #2FA5E7 !important;
    margin-bottom: 0;
    letter-spacing: 1px;
}
h4.shw-title {
    font-size: .8em !important;
    color: #030303 !important;
    font-weight: 400;
}
.energyx-sgn-up .nav-tabs .nav-link.active {
    background: #2FA5E7 !important;
    color: #fff !important;
    border-radius: 0 !important;
    border-color: transparent !important;
}
.divhide1 {
    margin: 20px 0;
}
.divhide1 .prodct-sec h4 {
    font-size: 1em;
    margin-bottom: 10px;
}
.divhide1 .prodct-sec p {
    font-size: 0.8em;
}
.divhide1 .prodct-sec{
    margin: 20px 0;
}
.divhide1 .sec2 input {
    height: 35px !important;
}
.divhide1 .prodct-sec select {
    height: 35px !important;
}
.divhide1 a.btn.card-btn.card-sun-btn.sgn-up-btn {
    font-size: 1em;
}
.energyx-deal .pg-btn-title {
    padding-left: 5rem;
     padding-top: 0; 
    margin-bottom: 0;
}
.fourth_click1 {
    border: 0;
    font-size: 1em;
    color: #2FA5E7;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0;
    background: transparent;
        line-height: 40px;
}
.fourth_click1:hover , .fourth_click1:focus{
   border: 0;
    font-size: 1em;
    color: #2FA5E7;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0;
    background: transparent;
}
.moreoption1{
    margin: 25px 0;
}
div#div_2 {
    margin: 20px 0 !important;
}
.moreoption1 a{
    color: #2c3e50;
    font-size: 1em;
    font-weight: 500;
}
.moreoption1 a:hover{
    color: #2c3e50;
}
.find-by{
    display: inline-block;
    margin-top: 0 !important;
    margin-left: 50px;
}
.find-by h4{
    display: inline-block;
}
.find-by select{
    width: 35% !important;
    display: inline-block !important;
    border-radius: 4px;
    border: 1px solid #2FA5E7;
    height: 33px !important;
    font-size: 12px;
    color: #afafaf;
    font-weight: 600;
}
.find-by input{
    width: 35% !important;
    display: inline-block !important;
    border-radius: 4px;
    border: 1px solid #2FA5E7;
    height: 33px !important;
    color: #afafaf;
    font-weight: 600;
    padding: .375rem 1rem;
    margin-left: 15px;
    margin-right: 0;
    position: relative;
    top: 2px;
}

a.rest-btn {
    color: #2c3e50;
    font-weight: 500;
    position: relative;
    left: 30px;
        font-size: 14px;
}
a.rest-btn:hover {
    color: #2c3e50;
}
input#electricity-bill {
    width: 57% !important;
    margin-bottom: 0 !important;
} 
.file-upload-placeholder {
    width: 57% !important;
}
.section.energyx-deal.deal-details{
    background: url(../image/bg-deal-details.png) !important;
        margin-top: 105px;
    background-repeat: no-repeat;
    padding-top: 0 !important;
    padding-top: 3rem !important;
}
}
a.pg-btn2:hover, a.pg-btn2:focus {
  color: #2FA5E7;
    text-decoration: none;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
a.pg-btn2.active {
    padding-bottom: 10px;
    border-bottom: 2px solid;
    color: #2FA5E7;
}
.documents-info td.pull-left1 {
    color: #2c3e50;
}
.documents-info td.pull-right1 {
    float: right;
}
.gradient-icon {
    background: -webkit-gradient(linear, left top, left bottom, from(#00EDD2), to(#00ADE9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}
td.pull-right1 i {
    float: right;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
}
.file-upload1{
    float: left;
}
.file-upload-container1 {
    color: #D6D6D6 !important;
}
.file-upload-placeholder1 a.upld-btn {
    color: #4a4a4a;
    padding: 10px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
a.upld-btn {

}
.file-upload-placeholder1 input[type="file"] {
    width: 10%;
     opacity: 0; 
    position: relative;
    bottom: 25px;
}
.doc-upld-btn{
    margin:30px auto;
    text-align: center;
}
.innr1{
    width: 100%;
    margin: 0 auto;
    border:2px dotted #777 !important;
}
.innr{
    margin: 0 auto;
    padding-top: 25px;
}
.file-upload-placeholder1 {
    position: relative;
    left: 50px;
}
a.btn.card-btn.card-sun-btn.sgn-up-btn.upld-1 {
    padding: 10px 20px !important;
    font-size: 16px;
    margin-right: 20px;
}
a.btn.card-btn.card-sun-btn.sgn-up-btn.upld-2 {
    padding: 10px 20px !important;
    font-size: 16px !important;
    color: #D0021B !important;
    border:1px solid #D0021B !important;
    border-radius: 5px !important;
    background: #fff !important;
}
a.upld-btn {
    text-decoration: none !important;
}
.form-innr{
    padding: 15px;
}
.form-innr label{
    margin-bottom: 0;
}
.row.form-innr1 {
    border:2px dotted #777 !important;
    width: 100%;
    margin: 0 auto;
}
table.table.table-bordered.frm-tb {
    margin: 25px 0;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
}
a.pg-btn2:hover {
    text-decoration: none !important;
    color: #2FA5E7 !important;
    padding-bottom: 10px !important;
    border-bottom: 2px solid #2FA5E7 !important;
}

/*Responsive*/
@media screen and (max-width: 1366px){
    .counter-txt h1 {
    font-size: 44px;
}
.counter-txt p {
    font-weight: 300;
    font-size: 30px;
}
.card-text {
    font-size: 18px;
}
.subchck {
width: 60% !important;
}
}
@media only screen and (max-width: 1366px) and (min-width: 1200px){

/*.bg-gradient {
    height: 610px;
}
*/
.owl-carousel .owl-item img {
    height: 750px;
}
.hdr-btn {
    width: 19%;
    font-size: 16px;
}
.card-txt1 {
    height: 170px;
}
.sec-customer {
    background: url(../image/sec2-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.banner-sec h1 {
    font-size: 44px;
}a.btn.card-btn.card-sun-btn.sgn-up-btn.dl-btn {
    padding: 10px 30px !important;
}
/*.fst-cl1 {
    padding: 30px 0;
}*/
}
@media screen and (max-width: 1200px){
    div#navbar {
    margin-left: 0px; 
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
}
.hdr-btn {
    width: 28%;
    }
    a.btn.card-btn.card-sun-btn.sgn-up-btn.dl-btn {
    padding: 10px 20px !important;
}
.fst-cl1 {
    padding: 30px 0;
}
.card-txt1 {
    height: 170px;
}
.find-by {
    margin-left: 0;
}
a.rest-btn {
    left: 15px;
}
}
@media screen and (max-width: 1200px){
.owl-carousel .owl-item img {
    height: 750px;
}
}
@media screen and (max-width: 1024px){
 .card.pricing {
    background: transparent;
    margin-top: 100px;
    border: 0;
}
.icon-top {
    margin-bottom: 20px;
}
.card-body {
    padding: 30px;
}
a.rest-btn {
    left: 15px;
}
}
@media (max-width:991px) {
    .card-deck {
        -ms-flex-direction: inherit;
        flex-direction: inherit;
    }  
    .social {
    margin: 25px 0;
} 
.card-txt1 {
     height: inherit; 
    margin: 25px 0;
}
.icon-top {
    margin-bottom: 0;
}
.card-body {
    padding: 50px;
    text-align: center;
}
.bg-gradient {
    background-position: left;
}
.bg-gradient1 {
    background-position: left;
}
.bg-gradient2 {
    background-position: left;
}
.bg-gradient3 {
    background-position: left;
}
.bg-gradient4 {
    background-position: left;
}
.bg-gradient5 {
    background-position: left;
}
.hdr-btn {
    width: 35%;
    font-size: 16px;
}
.card.features {
    margin-bottom: 4rem;
}
.card.pricing .card-head {
    padding: 40px 0 20px;
}
.energyx-sgn-up li.nav-item {
    width: 50%;
    text-align: center;
}
.energyx-sgn-up .nav-tabs .nav-item .nav-link, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    font-size: 13px;
  }
  .energyx-sgn-up {
    background-position: left;
        }
  .btn.prdct-btn1 {
    margin-top: 30px;
}
a.btn.btn-primary.sgn-up-btn.sgn-up-btn1 {
padding: 1rem 3rem !important;
}
a.btn.btn-primary.sgn-up-btn.sgn-up-btn2 {
padding: 1rem 3rem !important;
}
a.btn.btn-primary.sgn-up-btn.sgn-up-btna {
padding: 1rem 3rem !important;
}
a.btn.btn-primary.sgn-up-btn.sgn-up-btnb {
padding: 1rem 3rem !important;
}
.energyx-sgn-up li.nav-item {
    width: 50%;
    text-align: center;
}
.flue-prgrss2{
    float: left;
}
.frm-contact2 input {
     float: left;
    width: 90%;
}
.frm-contact2 select {
     float: left;
    width: 90%;
}
.frm-contact2 label {
     float: left;
    width: 90%;
}
input#contacts-address {
    width: 90% !important;
}
.energyx-sgn-up .nav-tabs .nav-item .nav-link, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    font-size: 13px;
  }
  .energyx-sgn-up {
    background-position: left;
        }
  .btn.prdct-btn1 {
    margin-top: 30px;
}
.frm-contact2 label {
    float: left !important;
    width: 100%;
}
.frm-contact2 input {
    float: left !important;
    width: 90%;
}
.frm-contact2 select {
    float: left !important;
    width: 90%;
}
.deals-content {
    padding-right: 10px !important;
    margin: 10px !important;
}
.card-head h4 {
    color: #2c3e50;
    font-size: 16px;
}
.price-dollar {
    font-size: 20px !important;
}
a.btn.card-btn.card-sun-btn.sgn-up-btn.dl-btn {
    padding: 10px 10px !important;
}
.status-clr {
    color: #1757cb !important;
    font-size: 16px !important;
}
.find-by {
    display: inline-block;
    margin-top: 13px !important;
     margin-left: 0px; 
}
.card.pricing .card-head {
     padding: 0 0 0px; 
}
.fourth_click1{
    margin: 0;
}
.cng-ps-title{
    margin:10px 0;
}
a.rest-btn {
    left: 0;
}
input#electricity-bill {
    width: 90% !important;
}
.file-upload-placeholder {
    width: 90% !important;
}
.file-upload .uploaded-files {
    background-size: 90%;
}
.deals1-banner {
    padding: 0px 15px;
}

}
@media (max-width:767px) {
    .card-deck {
        -ms-flex-direction: column;
        flex-direction: column;
    } 
    .hdr-btn {
    width: 45%;
}
    .card.pricing {
    margin-top: 40px;
}
.sec-customer {
    background-position: center;
    }
.energyx-frm {
    margin-top: 50px;
}
.energyx-bottom {
    background-position: top;
}
.card.pricing .card-head {
    padding: 25px 0;
}
.counter-txt {
    margin: 25px 0;
}
.tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
    .energyx-sgn-up {
    background-position: left;
        }
        .prodct-sec input {
    width: 100% !important;
        margin: 10px 0;
}
.prodct-sec select {
     width: 100% !important;
         margin: 10px 0;
     }
     .flue-prgrss {
    width: 100% !important;
    display: inline-block;
}
.prodct-sec1 {
    margin-bottom: 100px;
}
.section.energyx-sgn-up select {
    display: block;
    width: 100% !important;
}
.energyx-sgn-up {
    background-position: left top !important;
}
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
    .energyx-sgn-up {
    background-position: left;
        }
        .prodct-sec input {
    width: 100% !important;
        margin: 10px 0;
}
.contacts-pro1 {
    width: 92%;
    margin: 0 auto;
}
select#contacts-city {
    width: 100%;
}
.file-upload .file-upload-placeholder {
    width: 100% !important;
}
input#contacts-address {
    width: 100% !important;
}
div#contacts-profile input {
    width: 100%;
}
.prodct-sec select {
     width: 100% !important;
         margin: 10px 0;
     }
     .flue-prgrss {
    width: 100%;
    display: inline-block;
}
.prodct-sec1 {
    margin-bottom: 100px;
}
div#company-info input {
    width: 100%;
}

.file-upload .uploaded-files {
    background-size: 100%;
}
.deals-content {
    border-bottom: 1px solid #cdcdcd !important;
     border-right: 0 !important;
     padding-right: 0 !important; 
    border-radius: 0 !important;
    padding: 15px;
    margin:0 !important;
}
.deals1-banner {
    padding: 25px;
}
.deals1-banner img {
    width: 20%;
}
.deals1-banner .card.pricing .card-head {
    padding: 0px 0 40px;
}
.fst-cl1 {
     padding: 0 !important; 
}
.fst-cl {
    padding: 0 !important;
    }
.pg-btn-title {
    padding: 0 !important;
    text-align: center;
}
.pg-btn2 {
    padding: 5px 10px;
    font-size: 12px;
}
.energyx-deals {
    padding: 1rem 0;
}
.card.pricing.ftr-lnk.deal-sec.deals-content.deals-content-last {
    border: 0 !important;
}
.energyx-deal{
    background-position: center;
}
input#electricity-bill {
    width: 100% !important;
}
button.rmv-btn {
    margin-left: 0;
}
.deal-info {
    width: 100%;
}
}

@media (max-width:480px){
.banner-sec h1 {
    font-size: 35px;
}
.banner-sec p {
    font-size: 20px;
}
.owl-carousel .owl-item img {
    height: 650px;
}
.bg-gradient {
    height: 650px;
}
.deals1-banner img {
    width: 30%;
}
.deals1-banner .card.pricing .card-head {
    padding: 0px;
}

/*.bg-gradient1 {
    height: 650px;
}
.bg-gradient2 {
    height: 650px;
}
.bg-gradient3 {
    height: 650px;
}
.bg-gradient4 {
    height: 650px;
}
.bg-gradient5 {
    height: 650px;
}*/
.banner-sec {
    text-align: left;
    width: 90%;
}
.hdr-btn {
    width: 70%;
}
.card.pricing .card-head {
    padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
}
    .energyx-sgn-up {
    background-size: cover;
    background-position: left;
}
.section.energyx-sgn-up input {
    display: block;
    width: 100% !important;
}
input#myRange1 {
    margin-bottom: 50px;
}
.subchck {
    width: 100% !important;
    margin-top: 20px;
}
.energyx-sgn-up {
    background-size: cover;
    background-position: left;
}
.section.energyx-sgn-up input {
    display: block;
    width: 100%;
}
input#contacts-address {
    width: 100%;
}
#contact-info select#contacts-city {
    width: 100% !important;
}
.energyx-deals {
    padding: 2rem 0;
}
}
@media (max-width:380px){
    .abc {
    padding: 8px 6px;
}
}
@media (max-width:360px){
    .banner-sec h1 {
    font-size: 35px;
}
.hdr-btn {
    width: 80%;
}
.pg-btn2 {
     padding: 0; 
    font-size: 12px;
}
.abc {
    padding: 8px 12px;
}
}
